*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Share Style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 42px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}
.btn{
    background: #FD6E0A;
    color: #ffffff;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.sectionHeading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.sectionHeading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.sectionHeading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.resumeContainer hr{
    margin: 30px 0;
}

/* Main Style */
header{
    background: #fff8f3;
    background: url('../images/developer.png'), url('../images/header_bg.png'), #fff8f3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navbar{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}

nav .navbar a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    margin: 47px 38px 0px 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .bannerContent{
    max-width: 585px;
}


#banner .bannerContent h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .bannerContent h1{
    font-size: 85px;
    font-weight: 900;
    color: #000;
    margin-bottom: 5px;
}

#banner .bannerContent p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 20px;
}

#banner .bannerImage img{
    max-width: 585px;
    vertical-align: middle;
}

#about, #skills, #resume{
    padding-top: 130px;
}

#about .aboutContainer{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background: #FFF8F3;
    padding: 131px 156px;

}
#about .aboutContainer .aboutInformation{
    display: flex;
    justify-content: space-between;
}

.aboutContainer .inforCard p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.skillsContainer{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skillsContainer .skillBox{
    display: flex;
    gap: 24px;
}

.skillsContainer .skillCard{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000036;
}

.skillsContainer .skillCard img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skillsContainer .skillCard h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skillsContainer .skillCard p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#resume .resumeContainer{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resumeContainer .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resumeCard{
    max-width: 511px;
    margin-right: 47px;
}
.resumeCard .cardTitle{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #474747;
}
.resumeCard .CardInfo{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resumeCard .cardText{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #757575;
}